{% load staticfiles %}
<head>
<title>Mascot Generator</title>
<link rel="stylesheet" type="text/css" href="{% static 'mga/style.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="header page-content"  id="myHeader">    
    <div class="row" style="color: white; margin-left: 0; margin-right: 0;">
        <div class="page-wrap">
            <nav class="navbar navbar-expand-lg navbar-light" style="padding:0px">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-hover" href="/home" active>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-hover" href="/home/about">About</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link nav-hover" href="/home/generator" active>Generator</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link nav-hover" href="/home/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-header" style="clear:both">
    {% block header-image %}
    {% endblock %}
</div>
<div class="">
    <div>
            {% block content %}
            {% endblock %}
    </div>
</div>

<div class="page-break"></div>
<div style = "background-color: #5c5c5c">
    <div class="page-wrap">
        <div class="row">
            <div style="height: 150x" class="col-md-4 col-sm-6 footer">
                    <p class="footer_heading">Quick Links:</p>
                    <div class="row">
                        <div class="col-md-8">
                            <p style="margin:0"><a class="footer_subheading" style="text-decoration:none" href="/home/generator/">Generate a Mascot</a></p>
                            <p style="margin:0"><a class="footer_subheading" style="text-decoration:none" href="/home/about/">About Us</a></p>
                            <p style="margin:0"><a class="footer_subheading" style="text-decoration:none" href="/home/contact/">Contact Us</a></p>
                        </div>
                    </div>
                <br>
                <br>
                <span style="color: white; font-size: 10px">©Copyright 2018 • Mascot Generator • All Rights Reserved</span> 
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-3 col-sm-8">
                        <img style="opacity:.5; padding-top: 5%"src="{% static 'mga/cat.svg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
